<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Anime</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <div class="side-nav">
        <a href="./home.html">Home</a>
        <a href="./index.html">Anime List</a>
        <a href="./create.html">Create Anime</a>
       
    </div>
    <h1>Edit Anime</h1>
    <form id="anime-form">
        <input type="hidden" id="anime-id">
        <label for="anime-nameJP">Name JP:</label>
        <input type="text" id="anime-nameJP">
        <label for="anime-nameEN">Name EN:</label>
        <input type="text" id="anime-nameEN">
        <label for="anime-releaseDate">Release Date:</label>
        <input type="date" id="anime-releaseDate">
        <label for="anime-sourceId">Source ID:</label>
        <input type="text" id="anime-sourceId">
        <label for="anime-episodes">Episodes:</label>
        <input type="number" id="anime-episodes">
        <label for="anime-description">Description:</label>
        <textarea id="anime-description"></textarea>
        <label for="anime-studio">Studio:</label>
        <input type="text" id="anime-studio">
        <label for="anime-image">Image URL:</label>
        <input type="text" id="anime-image">
        <button type="submit">Save</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../animeDetails.js"></script>
</body>
</html>