<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../app.js"></script>
    <title>Anime</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <h1>Anime</h1>
    <a href="./create.html">Create</a>

    <div class="anime-container">
        <h2>Anime List</h2>
        <div id="anime-list" class="card-container">
           
            <div class="anime-card">
                <div class="anime-image">
                    <img src="image_url" alt="Anime Image">
                </div>
                <div class="anime-details">
                    <h3 class="anime-name-jp">Name JP</h3>
                    <h4 class="anime-name-en">Name EN</h4>
                    <p class="release-date"><strong>Release Date:</strong> 2022-01-01</p>
                    <p class="source-id"><strong>Source ID:</strong> 12345</p>
                    <p class="episodes"><strong>Episodes:</strong> 12</p>
                    <p class="description">This is a brief description of the anime.</p>
                    <p class="studio"><strong>Studio:</strong> Studio Name</p>
                    <div class="actions">
                        <button class="action-button edit-button">Edit</button>
                        <button class="action-button delete-button">Delete</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            fetchAnime();
        });
    </script>
</body>
</html>
